body {
  font-family: Arial, sans-serif;
  padding: 40px;
  max-width: 700px;
  margin: auto;
}

input {
  display: block;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

button {
  background: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

#task-list, #result {
  margin-top: 20px;
}

h1, h2 {
  margin-top: 30px;
}
